# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np


dados = [0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02] 
pd.Series(data=dados)

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
ano_anomalia = pd.Series(data = dados, index = indice)
ano_anomalia

1900    0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

#Já está incluso no exercício acima

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperatura_series = pd.Series(dic_temperaturas)
temperatura_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0    89.460431  102.020726   92.061257
1   105.566898   88.948232  105.645893
2    98.268622  107.557571  102.134847
3    97.555478  107.754071  114.691541
4   100.522932   98.739384  110.207698
5    89.632633   96.684112   93.801995
6    93.043098  104.549938   98.612655
7    92.883567   77.866103   96.882597
8   111.066046   91.986978   98.940116
9    83.289934  106.694746   97.699918
10   83.372452  100.585450   99.551623
11  104.159759   80.285430   93.164130
12   87.662193   96.999503  116.471253
13  112.965276   88.921771   92.629741
14   93.109543   94.135624   97.493990
15  115.553879  109.419025  104.048245
16   78.232136  106.063024  118.418514
17  114.732174   92.800586  104.077947
18  118.989312   94.331033  116.943624
19  114.703701  101.979909   92.209589

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [8]:
#seu código aqui
df = df.rename(columns = {0: 'x1', 1:'x2', 2: 'x3'})
df.index += 1
df

            x1          x2          x3
1    89.460431  102.020726   92.061257
2   105.566898   88.948232  105.645893
3    98.268622  107.557571  102.134847
4    97.555478  107.754071  114.691541
5   100.522932   98.739384  110.207698
6    89.632633   96.684112   93.801995
7    93.043098  104.549938   98.612655
8    92.883567   77.866103   96.882597
9   111.066046   91.986978   98.940116
10   83.289934  106.694746   97.699918
11   83.372452  100.585450   99.551623
12  104.159759   80.285430   93.164130
13   87.662193   96.999503  116.471253
14  112.965276   88.921771   92.629741
15   93.109543   94.135624   97.493990
16  115.553879  109.419025  104.048245
17   78.232136  106.063024  118.418514
18  114.732174   92.800586  104.077947
19  118.989312   94.331033  116.943624
20  114.703701  101.979909   92.209589

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [9]:
# seu código aqui
df['Média'] = df['x1'] + df['x2'] + df['x3'] / 3
df

            x1          x2          x3       Média
1    89.460431  102.020726   92.061257  222.168242
2   105.566898   88.948232  105.645893  229.730428
3    98.268622  107.557571  102.134847  239.871142
4    97.555478  107.754071  114.691541  243.540063
5   100.522932   98.739384  110.207698  235.998215
6    89.632633   96.684112   93.801995  217.584077
7    93.043098  104.549938   98.612655  230.463921
8    92.883567   77.866103   96.882597  203.043869
9   111.066046   91.986978   98.940116  236.033062
10   83.289934  106.694746   97.699918  222.551319
11   83.372452  100.585450   99.551623  217.141776
12  104.159759   80.285430   93.164130  215.499899
13   87.662193   96.999503  116.471253  223.485447
14  112.965276   88.921771   92.629741  232.763627
15   93.109543   94.135624   97.493990  219.743164
16  115.553879  109.419025  104.048245  259.655652
17   78.232136  106.063024  118.418514  223.767999
18  114.732174   92.800586  104.077947  242.225408
19  118.989312   94.331033  116.943624  252.301553
20  114.703701  101.979909   92.209589  247.420140

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
# seu código aqui
df['x1'] = df['x1'].apply(lambda x: float("{:.2f}".format(x)))
df['x2'] = df['x2'].apply(lambda x: float("{:.2f}".format(x)))
df['x3'] = df['x3'].apply(lambda x: float("{:.2f}".format(x)))
df['Media'] = df['x3'].apply(lambda x: float("{:.2f}".format(x)))

df["log_med"] = (
    df["x1"].astype(str)
    + " + "
    + df["x2"].astype(str)
    + " + "
    + df["x3"].astype(str)
    + " / "
    + " 3 "
    + " = "
    + df["Media"].astype(str)
)

df

,x1,x2,x3,Média,Media,log_med
1,89.46,102.02,92.06,222.168242,92.06,89.46 + 102.02 + 92.06 / 3 = 92.06
2,105.57,88.95,105.65,229.730428,105.65,105.57 + 88.95 + 105.65 / 3 = 105.65
3,98.27,107.56,102.13,239.871142,102.13,98.27 + 107.56 + 102.13 / 3 = 102.13
4,97.56,107.75,114.69,243.540063,114.69,97.56 + 107.75 + 114.69 / 3 = 114.69
5,100.52,98.74,110.21,235.998215,110.21,100.52 + 98.74 + 110.21 / 3 = 110.21
6,89.63,96.68,93.80,217.584077,93.80,89.63 + 96.68 + 93.8 / 3 = 93.8
7,93.04,104.55,98.61,230.463921,98.61,93.04 + 104.55 + 98.61 / 3 = 98.61
8,92.88,77.87,96.88,203.043869,96.88,92.88 + 77.87 + 96.88 / 3 = 96.88
9,111.07,91.99,98.94,236.033062,98.94,111.07 + 91.99 + 98.94 / 3 = 98.94
10,83.29,106.69,97.70,222.551319,97.70,83.29 + 106.69 + 97.7 / 3 = 97.7
11,83.37,100.59,99.55,217.141776,99.55,83.37 + 100.59 + 99.55 / 3 = 99.55
12,104.16,80.29,93.16,215.499899,93.16,104.16 + 80.29 + 93.16 / 3 = 93.16
13,87.66,97.00,116.47,223.485447,116.47,87.66 + 97.0 + 116.47 / 3 = 116.47
14,112.97,88.92,92.63,232.763627,92.63,112.97 + 88.92 + 92.63 / 3 = 92.63
15,93.11,94.14,97.49,219.743164,97.49,93.11 + 94.14 + 97.49 / 3 = 97.49
16,115.55,109.42,104.05,259.655652,104.05,115.55 + 109.42 + 104.05 / 3 = 104.05
17,78.23,106.06,118.42,223.767999,118.42,78.23 + 106.06 + 118.42 / 3 = 118.42
18,114.73,92.80,104.08,242.225408,104.08,114.73 + 92.8 + 104.08 / 3 = 104.08
19,118.99,94.33,116.94,252.301553,116.94,118.99 + 94.33 + 116.94 / 3 = 116.94
20,114.70,101.98,92.21,247.420140,92.21,114.7 + 101.98 + 92.21 / 3 = 92.21